<div class="easyui-panel" title="查询">
<form id="f">
    <div class="search">
#foreach( $elem in $list)
    	#if($elem.isDate)
<div>#if($elem.comment)$elem.comment#{else}foobar#end：<input type="text" class="easyui-datebox" name="${elem.variable}Start"/></div>
<div style="margin-left: 5px;">至 <input type="text" class="easyui-datebox" name="${elem.variable}End"/></div>
#else
<div>#if($elem.comment)$elem.comment#{else}foobar#end：<input type="text" #if($elem.type == "String")class="easyui-textbox"#end data-options="width:175" name="$elem.variable" id="$elem.variable"/></div>
#end
    #end
</div>
</form>
</div>